@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-star-burst {
  animation: star-burst 1.2s ease;
}
@keyframes star-burst {
  0% { opacity: 0; transform: scale(0.5); }
  30% { opacity: 1; transform: scale(1.2); }
  100% { opacity: 0; transform: scale(1.5); }
}
